@import "partials/variables"
@import "partials/mixins"
@import "partials/share-buttons" 
@import "partials/card"
@import "partials/profile"

body
  font-family: 'Roboto'
  height: 100%
  padding-top: 70px

img
  max-width: 100%

.container
  @include desktop
    max-width: 1000px
